
<html>
<head>
    <title>Dialog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<a href="/chatsm"><button>Back</button></a>
<div>Chat Id:  {{chIdM}}  </div>


<div>
    <form method="post">
        <input type="text" name="content" placeholder="Введите сообщение" />
        <!--<input type="Long" name="chat_id" placeholder="chat_id">-->
        <!---->
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <!---->
        <button type="submit">Send</button>
    </form>
</div>

{{#messages}}
    <div>
        <strong>{{authorNam}}</strong>
        <span>{{content}}</span>
    </div>
{{/messages}}


</body>
</html>
